<!doctype html>
<html lang="es" class="h-100">

{% load static %}
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}" />
    <link href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet" />
    <script src="{% static 'js/script.js' %}"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body>
  <header class="mb-auto">
    <nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="Magic Chef logo" width="auto" height="auto" /></a>
          <div class="navbar-burger js-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
          </div>
        </div>      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable is-mega">
              <div class="navbar-link">Recetas</div>
              <div id="recetasDropdown" class="navbar-dropdown is-mega">
                <div class="container is-fluid">
                  <div class="columns is-multiline">
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Fáciles</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Postres</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Pollo y Carne</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Recetas a la Parrilla</a>
                    </div>
                  </div>
                </div>
                <hr class="navbar-divider" />
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Ensaladas</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Guarniciones</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Pescados y Mariscos</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Recetas de Pastas</a>
                    </div>
                  </div>
                </div>
                <hr class="navbar-divider" />
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Comida para Niños</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Postres para Niños</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Sopas</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Desayunos</a>
                    </div>
                  </div>
                </div>
                <hr class="navbar-divider" />
                <div class="container is-fluid">
                  <div class="columns">
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Panes</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Salsas</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Bebidas</a>
                    </div>
                    <div class="column">
                      <a href="#" class="p-2 mx-5 dropdown-item">Platos Fuertes</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <input class="input is-normal mt-2 navbar-item" type="text" placeholder="Buscar por receta o ingrediente" />
          </div>
          <div class="navbar-end">
            {% if user.is_authenticated %}
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-white" href="{% url 'cerrar' %}">Cerrar sesion</a>
                </div>
              </div>
            {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-white" href="{% url 'login' %}">Log in</a>
                <a class="button" href="{% url 'registro' %}" style="background-color: #9BF1E6;"><strong>Sign up</strong></a>
              </div>
            {% endif %}
            </div>
          </div>
        </div>
      </nav>
      
  </header>

  {% block content %}{% endblock %}

  <footer class="footer p-4">
    {% include 'layouts/footer.html' %}
  </footer>
  </body>
</html>