{% extends 'core/baseUser.html' %}

{% block title %}
  Añadir Ingredientes
{% endblock %}

{% block content %}
  {% load static %}
  <style>
    body {
      background-color: #f8d662;
    }
  </style>
  <div class="container mb-5">
    <div class="box mt-5 mx-5">
      <div class="mb-3">
        <ul class="steps has-content-centered">
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 1</p>
              <p>Datos de la receta</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 2</p>
              <p>Comprobacion de ingredientes</p>
            </div>
          </li>
          <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 3</p>
              <p>Añadir ingredientes a la receta</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 4</p>
              <p>Añadir fotos</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="mt-6">
        <form method="post">
            {% csrf_token %}
            {{ ingredient_quantity_form }}
            <input type="submit" value="Continuar">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
