{% extends 'core/baseUser.html' %}

{% block title %}
  Comprobacion de Ingredientes
{% endblock %}

{% block content %}
  {% load static %}
  <style>
    body {
      background-color: #f8a662;
    }
  </style>
  <div class="container mb-5">
    <div class="box mt-5 mx-5">
      <div class="mb-3">
        <ul class="steps has-content-centered">
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 1</p>
              <p>Datos de la receta</p>
            </div>
          </li>
          <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 2</p>
              <p>Comprobacion de ingredientes</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 3</p>
              <p>Añadir ingredientes a la receta</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 4</p>
              <p>Añadir fotos</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="mt-6">
        {% if messages %}
          <div class="notification is-warning is-light">
            <button class="delete"></button>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
        <input class="input" list="ingredients" id="ingredient-search" placeholder="Buscar ingredientes" />
        <datalist id="ingredients">
          {% for ingrediente in ingredientes %}
            <option value="{{ ingrediente.nombre_ingrediente }}">{{ ingrediente.nombre_ingrediente }}</option>
          {% endfor %}
        </datalist>

        <div class="mt-5" style="margin: auto;">
          <p class="title is-2" style="text-align:center;">Están todos tus ingredientes?</p>
          <div class="columns is-mobile">
            <div class="column">
              <a href="{% url 'anadirIng' %}" class="button is-success is-medium is-responsive has-text-white" style="float: right;">Sí</a>
            </div>
            <div class="column">
              <button class="button is-danger is-medium is-responsive has-text-white" id="no-btn">No</button>
            </div>
          </div>
          <form id="add-ingredients-form" style="display: none;" method="POST">
            {% csrf_token %}
            <div class="field">
              <label class="label">Ingrediente faltante</label>
              <div class="control">
                <input type="text" class="input" id="{{ form.nombre_ingrediente.name }}" name="{{ form.nombre_ingrediente.name }}" placeholder="{{ form.correo.name }}" />
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control" style="margin: 0 auto;">
                <button type="submit" class="button is-link">Agregar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    const ingredientSearchInput = document.getElementById('ingredient-search')
    const ingredientsDatalist = document.getElementById('ingredients')
    const noBtn = document.getElementById('no-btn')
    const addIngredientsForm = document.getElementById('add-ingredients-form')
    
    ingredientSearchInput.addEventListener('input', () => {
      const searchQuery = ingredientSearchInput.value.trim().toLowerCase()
      const options = ingredientsDatalist.options
      for (let i = 0; i < options.length; i++) {
        const option = options[i]
        if (option.value.toLowerCase().includes(searchQuery)) {
          option.style.display = 'block'
        } else {
          option.style.display = 'none'
        }
      }
    })
    
    noBtn.addEventListener('click', () => {
      addIngredientsForm.style.display = 'block'
    })
    
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;
    
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
  </script>
{% endblock %}
