{% extends 'core/baseUser.html' %}

{% block title %}
  Editar Receta
{% endblock %}

{% block content %}
  {% load static %}
  <style>
    body {
      background-color: #f8d662;
    }
  </style>
  <div class="container my-5 is-fluid">
    <div class="columns is-desktop">
      <div class="column">
        <div class="box">
          <h1 class="title is-3">Receta</h1>
          <div class="mt-6">
            {% if messages %}
              <div class="notification is-warning is-light">
                <button class="delete"></button>
                {% for message in messages %}
                  {{ message }}
                {% endfor %}
              </div>
            {% endif %}
            <form method="POST">
              {% csrf_token %}
              {{ formR.as_p }}
              <div class="field is-grouped mt-3">
                <div class="control" style="margin: 0 auto;">
                  <button type="submit" class="button is-link">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h1 class="title is-3">Foto</h1>
          {% if fotos %}
            <img src="{{ fotos.0.url }}" alt="Foto de la receta" width="auto" height="auto" />
          {% endif %}
          <div class="mt-6">
            <img id="imgPreview">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="hidden" id="{{ formF.id_receta.name }}" name="{{ formF.id_receta.name }}" value="{{ id_receta }}" />
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" id="{{ formF.foto.name }}" name="{{ formF.foto.name }}" onchange="previewImage(event, '#imgPreview')" />
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label"> Elige una foto</span>
                  </span>
                  <span class="file-name"> png / jpg / svg / ... </span>
                </label>
              </div>
            
              <div class="field is-grouped mt-3">
                <div class="control" style="margin: 0 auto;">
                  <button type="submit" class="button is-info">Añadir</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h1 class="title is-3">Ingredientes</h1>
          <div class="table-container">
            <table class="table is-hoverable is-fullwidth">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                {% for ingrediente in ingredientesr %}
                  <tr>
                    <th>{{ ingrediente.id_ingrediente.nombre_ingrediente }}</th>
                    <th>{{ ingrediente.cantidad }}</th>
                    <th>
                      <a href="{% url 'eliminarIng_Rec' ingrediente.id_ingrediente_receta %}" class="button is-danger"><span class="icon is-medium"><i class="fas fa-trash"></i></span></a>
                    </th>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="mt-6">
            <form method="POST" id="ingredient-forms-container">
              {% csrf_token %}
              <input type="hidden" id="{{ formI.id_receta.name }}" name="{{ formI.id_receta.name }}" value="{{ id_receta }}" />
              <div id="ingredients-container">
                <div class="ingredient-row">
                  <div class="columns">
                    <div class="column">
                      <div class="field">
                        <label class="label">Ingredientes para la receta: {{ id_receta.titulo }}</label>
                        <div class="control">
                          <select class="ingredient-select select" name="ingredientes[0][id_ingrediente]" style="width: 100%;">
                            {% for ingrediente in ingredientes %}
                              <option value="{{ ingrediente.id_ingrediente }}">{{ ingrediente.nombre_ingrediente }}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="field">
                        <label class="label">Cantidad</label>
                        <div class="control">
                          <input type="text" class="input" name="ingredientes[0][cantidad]" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
              <div class="field is-grouped mt-3">
                <div class="control" style="margin: 0 auto;">
                  <button type="submit" class="button is-info">Guardar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      $('.ingredient-select').select2(); // ponemos el select2 en los existentes
      const container = document.getElementById('ingredients-container');
    });

    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;
    
        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });

    function previewImage(event, querySelector){
      //Recuperamos el input que desencadeno la acción
      const input = event.target;
      //Recuperamos la etiqueta img donde cargaremos la imagen
      $imgPreview = document.querySelector(querySelector);
      // Verificamos si existe una imagen seleccionada
      if(!input.files.length) return
      //Recuperamos el archivo subido
      file = input.files[0];
      //Creamos la url
      objectURL = URL.createObjectURL(file);
      //Modificamos el atributo src de la etiqueta img
      $imgPreview.src = objectURL;
    }
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
          const $notification = $delete.parentNode;
      
          $delete.addEventListener('click', () => {
            $notification.parentNode.removeChild($notification);
          });
        });
    });
  </script>    
{% endblock %}
