{% extends 'core/baseUser.html' %}

{% block title %}
Fáciles
{% endblock %}

{% block content %}
  {% load static %}
  <div class="container is-max-widescreen">
    {% if not recetas %}
      <p style="text-align:center;height: 200px;">No hay recetas de tipo 'Fáciles' en este momento.</p>
    {% else %}
      {% for receta in recetas %}
        <div class="book">
          <p>{{ receta.titulo }}</p>
          <div class="cover">
            <a class="button is-info" href="#">Ver receta</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
  <style>
    .book {
      position: relative;
      border-radius: 10px;
      width: 220px;
      height: 300px;
      background-color: whitesmoke;
      -webkit-box-shadow: 1px 1px 12px #000;
      box-shadow: 1px 1px 12px #000;
      -webkit-transform: preserve-3d;
      -ms-transform: preserve-3d;
      transform: preserve-3d;
      -webkit-perspective: 2000px;
      perspective: 2000px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      color: #000;
    }
    
    .cover {
      top: 0;
      position: absolute;
      background-color: lightgray;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      cursor: pointer;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform-origin: 0;
      -ms-transform-origin: 0;
      transform-origin: 0;
      -webkit-box-shadow: 1px 1px 12px #000;
      box-shadow: 1px 1px 12px #000;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    
    .book:hover .cover {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-transform: rotatey(-80deg);
      -ms-transform: rotatey(-80deg);
      transform: rotatey(-80deg);
    }
    
    p {
      font-size: 20px;
      font-weight: bolder;
    }
  </style>
{% endblock %}
