{% extends 'core/baseUser.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% load static %}

  <section class="hero is-medium has-carousel">
    <div id="carousel-demo" class="hero-carousel">
      <div class="item-1">
        <img src="{% static 'img/slider1.png' %}" alt="slider foto comida" />
      </div>
      <div class="item-2">
        <img src="{% static 'img/slider1.png' %}" alt="slider foto comida" />
      </div>
      <div class="item-3">
        <img src="{% static 'img/slider1.png' %}" alt="slider foto comida" />
      </div>
    </div>
  </section>
  <script>
    bulmaCarousel.attach('#carousel-demo', {
      slidesToScroll: 1,
      slidesToShow: 4
    })
  </script>
  <div class="container is-max-widescreen">
    <table class="table is-striped is-hoverable tablaHome">
      <thead>
        <tr>
          <th class="px-4 py-2">Título</th>
        </tr>
      </thead>
      <tbody>
        {% for receta in recetas %}
          <tr class="font-bold underline">
            <td class="border px-4 py-2">{{ receta.titulo }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>Welcome, {{ user.nombre }}</p>
      <p>Email: {{ user.correo }}</p>
    </div>
  </div>
{% endblock %}
