{% extends 'core/baseUser.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
{% load static %}
{% load widget_tweaks %}

<style>
  body {
    background-image: url({% static 'img/fondo1.png' %});
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
    <div class="container is-max-widescreen pb-1" style="height: 100%;margin: 0 auto;">
      <div class="box my-6" style="width: 40%;margin: 0 auto;">
        <p class="title is-2 has-text-centered">Inicia</p>
        {% if messages %}
          <div class="notification is-warning is-light" >
            <button class="delete"></button>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <div class="field">
            <label class="label">Correo</label>
            <div class="control has-icons-left">
              <input type="email" class="input" id="{{ form.correo.name }}" name="{{ form.correo.name }}" placeholder="{{ form.correo.name }}" />
              <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
            </div>
          </div>

          <div class="columns">
            <div class="column is-four-fifths">
              <div class="field">
                <label class="label">Contraseña</label>
                <div class="control has-icons-left">
                  <input type="password" class="input" id="{{ form.password.name }}" name="{{ form.password.name }}" />
                  <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                </div>
              </div>
            </div>
            <div class="column" style="display: flex;align-items: end;">
              <div class="control is-right">
                <button class="button toggle-password" type="button"><span class="icon is-small"><i class="fas fa-eye"></i></span></button>
              </div>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control" style="margin: 0 auto;">
              <button type="submit" class="button is-link">Iniciar</button>
            </div>
          </div>
        </form>
      </div>
      <script>
        document.addEventListener('DOMContentLoaded', function () {
          const togglePassword = document.querySelector('.toggle-password')
          const passwordField = document.querySelector('#{{ form.password.name }}')
        
          togglePassword.addEventListener('click', function () {
            const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password'
            passwordField.setAttribute('type', type)
        
            // Cambiar el icono del ojo
            const eyeIcon = this.querySelector('i')
            eyeIcon.classList.toggle('fa-eye-slash')
          })
        })
        
        document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;
        
            $delete.addEventListener('click', () => {
              $notification.parentNode.removeChild($notification);
            });
          });
        });
      </script>
    </div>
{% endblock %}