{% extends 'core/baseUser.html' %}

{% block title %}
  Crear Receta
{% endblock %}

{% block content %}
  {% load static %}
  <style>
    body {
      background-color: #f18290;
    }
  </style>
  <div class="container mb-5">
    <div class="box mt-5 mx-5">
      <div class="mb-3">
        <ul class="steps has-content-centered">
          <li class="steps-segment is-active">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 1</p>
              <p>Datos de la receta</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 2</p>
              <p>Comprobacion de ingredientes</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 3</p>
              <p>Añadir ingredientes a la receta</p>
            </div>
          </li>
          <li class="steps-segment">
            <span class="steps-marker"></span>
            <div class="steps-content">
              <p class="is-size-4">Paso 4</p>
              <p>Añadir fotos</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="mt-6">
        {% if messages %}
          <div class="notification is-warning is-light">
            <button class="delete"></button>
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
        <form method="POST">
          {% csrf_token %}
          <div class="field">
            <label class="label">Titulo</label>
            <div class="control">
              <input type="text" class="input" id="{{ form.titulo.name }}" name="{{ form.titulo.name }}" placeholder="{{ form.titulo.name }}" />
            </div>
            {% if form.titulo.errors %}
              <p class="help is-danger is-dark">{{ form.titulo.errors|first }}</p>
            {% endif %}
          </div>

          <div class="field">
            <label class="label">Descripcion</label>
            <div class="control">
              <textarea class="textarea" placeholder="..." id="{{ form.descripcion.name }}" name="{{ form.descripcion.name }}"></textarea>
            </div>
            {% if form.descripcion.errors %}
              <p class="help is-danger is-dark">{{ form.descripcion.errors|first }}</p>
            {% endif %}
          </div>

          <div class="field">
            <label class="label">Tipo de plato</label>
            <div class="control">
              <div class="select is-miltiple">
                <select name="{{ form.tipo.name }}" id="{{ form.tipo.name }}">
                  {% for choice in form.tipo.field.choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            {% if form.tipo.errors %}
              <p class="help is-danger is-dark">{{ form.tipo.errors|first }}</p>
            {% endif %}
          </div>

          <div class="field">
            <label class="label">Pasos</label>
            <div class="control">
              <textarea class="textarea" placeholder="..." id="{{ form.pasos.name }}" name="{{ form.pasos.name }}"></textarea>
            </div>
            {% if form.pasos.errors %}
              <p class="help is-danger is-dark">{{ form.pasos.errors|first }}</p>
            {% endif %}
          </div>

          <div class="field">
            <input type="hidden" id="{{ form.autor.name }}" name="{{ form.autor.name }}" value="{{ user.apodo }}" />
          </div>
          <div class="field">
            <input type="hidden" id="{{ form.fecha_subida.name }}" name="{{ form.fecha_subida.name }}" value="{{ fechaActual }}" />
          </div>

          <div class="field is-grouped">
            <div class="control" style="margin: 0 auto;">
              <button type="submit" class="button is-link">Crear</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
