<!DOCTYPE html>
<html lang="es" class="h-100">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bulma@0.9.0/js/bulma.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bulma-carousel.min.css' %}" />
    <link href="~bulma-carousel/dist/css/bulma-carousel.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <style>
      html {
        min-height: 100%;
        position: relative;
      }
      body {
        margin: 0;
        /*margin-bottom: 40px;*/
      }
      footer {
        position: relative;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>
  <header class="mb-auto">
    {% if user.is_authenticated %}
      {% include 'layouts/headerSesion.html' %}
    {% else %}
      {% include 'layouts/header.html' %}
    {% endif %}
  </header>
  <body>
    {% block content %}
    {% endblock %}
    <footer class="footer p-4">
      {% include 'layouts/footer.html' %}
    </footer>
  </body>
</html>
