{% load static %}
<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="logo magic chef" width="auto" height="auto" /></a>
    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable is-mega">
        <div class="navbar-link">Recetas</div>
        <div id="recetasDropdown" class="navbar-dropdown is-mega">
          <div class="container is-fluid">
            <div class="columns is-multiline">
              <div class="column">
                <a href="{% url 'biblioteca' 'Panes' %}" class="p-2 mx-5 dropdown-item">Panes</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Postres' %}" class="p-2 mx-5 dropdown-item">Postres</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Pollo y Carne' %}" class="p-2 mx-5 dropdown-item">Pollo y Carne</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Recetas a la Parrilla' %}" class="p-2 mx-5 dropdown-item">Recetas a la Parrilla</a>
              </div>
            </div>
          </div>
          <hr class="navbar-divider" />
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <a href="{% url 'biblioteca' 'Ensaladas' %}" class="p-2 mx-5 dropdown-item">Ensaladas</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Guarniciones' %}" class="p-2 mx-5 dropdown-item">Guarniciones</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Pescados y Mariscos' %}" class="p-2 mx-5 dropdown-item">Pescados y Mariscos</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Recetas de Pastas' %}" class="p-2 mx-5 dropdown-item">Recetas de Pastas</a>
              </div>
            </div>
          </div>
          <hr class="navbar-divider" />
          <div class="container is-fluid">
            <div class="columns">
              <div class="column">
                <a href="{% url 'biblioteca' 'Salsas' %}" class="p-2 mx-5 dropdown-item">Salsas</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Bebidas' %}" class="p-2 mx-5 dropdown-item">Bebidas</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Sopas' %}" class="p-2 mx-5 dropdown-item">Sopas</a>
              </div>
              <div class="column">
                <a href="{% url 'biblioteca' 'Desayunos' %}" class="p-2 mx-5 dropdown-item">Desayunos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-right is-hoverable">
        <p class="navbar-link"> <img src="{% static 'img/menuA.svg' %}" alt="menu" width="auto" height="auto" /> </p>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="{% url 'perfil' %}"> Perfil </a>
          <a class="navbar-item" href="{% url 'receta' %}"> Recetas </a>
          <a class="navbar-item" href="{% url 'lista' %}"> Lista de compra </a>
          <hr class="navbar-divider">
          <a class="navbar-item is-selected" href="{% url 'cerrar' %}"> Cerrar sesion </a>
        </div>
    </div>
  </div>
</nav>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Add a click event on each of them
    $navbarBurgers.forEach( el => {
      el.addEventListener('click', () => {
        // Get the target from the "data-target" attribute
        const target = el.dataset.target;
        const $target = document.getElementById(target);
        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  });
</script>