{% load static %}

<link href="{% static 'css/styles.css' %}" rel="stylesheet" />
<nav class="navbar container is-fluid" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#"><img src="{% static 'img/logo.png' %}" alt="logo magic chef" width="auto" height="auto" /></a>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-white" href="{% url 'cerrar' %}">Cerrar sesion</a>
          </div>
        </div>
      </div>
  </div>
</nav>
