{% extends 'core/baseUser.html' %}

{% block title %}
  Contraseña: Nueva contraseña
{% endblock %}

{% block content %}
  {% load static %}
  {% if validlink %}
    <h1>Pon la nueva contraseña!</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Cambiar contraseña" />
    </form>
  {% else %}
    <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya se había utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
  {% endif %}
{% endblock %}
